body {
        background-color: #e75252;
        font-family: 'Montserrat', sans-serif;
        color: #e2dede;
        font-weight: 700;
}


.container {
    margin-bottom: 75px;
}


.navbar-brand {
    font-size: 2.5em;
    font-weight: 700;
}

.navbar-custom {
    background-color:#e75252;
    position: fixed;
    top: 0;
    width: 100%;

}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(27, 26, 26);
    /* font-weight: bold; */
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(27, 26, 26);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}


.footpics > img {
    max-width: 110px;
    max-height: 110px;
}



ul {
  list-style-type: none;
  text-decoration: none;
}

span {
  color: red;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


.accordion .card {
    background: none;
    border: none;
}
.accordion .card .card-header {
    background: none;
    border: none;
    padding: .4rem 1rem;
    font-family: "Roboto", sans-serif;
}
.accordion .card-header h2 span {
    float: left;
    margin-top: 10px;
}
.accordion .card-header .btn {
    color: #2f2f31;
    font-size: 1.04rem;
    text-align: left;
    position: relative;
    font-weight: 500;
    padding-left: 2rem;
}
.accordion .card-header i {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 9px;
}
.accordion .card-header .btn:hover {
    color: #ff8300;
}
.accordion .card-body {
    color: #324353;
    padding: 0.5rem 3rem;
}
.page-title {
    margin: 3rem 0 3rem 1rem;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.page-title::after {
    content: "";
    width: 80px;
    position: absolute;
    height: 3px;
    border-radius: 1px;
    background: #73bb2b;
    left: 0;
    bottom: -15px;
}
.accordion .highlight .btn {

    color: red;  
    /*color: #74bd30;*/
}
.accordion .highlight i {
    transform: rotate(180deg);
}

.footpics {
    padding: 100px 30px 30px 30px;
    text-align: center;
}

.about {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
}



.btn {
    border: none;
}

.relative {
    position: relative;

}

.large-watermark {
    top: -200px;
    /* top: 0px; */
    position: absolute;
    font-size: 20em;
    white-space: nowrap;
    font-weight: 600;
    opacity: 0.07;
    vertical-align: text-top;
    max-width: 100%;
    overflow: hidden;
}

.graphic {
    position: absolute;
    opacity: 0.1;
    vertical-align: text-top;
}

.graphic > img {
    height: 600px;
}

.test {
    font-size: 1.3em;
}

.icon {
    width: 75px;
}

.title {
    padding-top: 120px;
    padding-bottom: 75px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.display-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


h1 {
    font-size: 10em;
    color: #e2dede;
    font-weight: 700;
}


h3 {
    font-weight: 400;
}

.whiteBackground {
    background-color: white;    
    color: black;
}

.dotCa {
    color: #991515;
    font-size: 0.8em;
}

.footer {
    background-color:  #e2dede;
    padding-top: 100px;
    padding-bottom: 100px;
}

.rompLogo {
    margin-left: 10%;
}


 .modal-body a {
    color: black; 
 }

 .modal-title {
     color: black;
 }

 .modal-body a:hover {
    color: red; 
 }

 .list {
     line-height: 2.5;
     font-size: 1.3em;
 }

 p {
     font-weight: normal;
     color: white;
 }


 @media screen and (max-width: 1100px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 1.7em;
    }

@media screen and (max-width: 400px) {
    h1 {
        padding-top: 60px;
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.6em:
    }
    .list {
        text-align: center;
    }
}
